<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Payments</title>
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/payments-page">Payments</a>
    </nav>

    <h1>Payments Page</h1>

    <label for="min_payment_value">Min Payment Value:</label>
    <input type="number" id="min_payment_value" />

    <label for="max_payment_value">Max Payment Value:</label>
    <input type="number" id="max_payment_value" />

    <button onclick="loadPayments()">Load Payments</button>

    <ul id="payments-list"></ul>

    <div id="payment-stats">
      <button onclick="loadPaymentStats()">
        Load Min Max Avg Payment Value
      </button>
      <p>Min Payment Value: <span id="min-payment-value"></span></p>
      <p>Max Payment Value: <span id="max-payment-value"></span></p>
      <p>Average Payment Value: <span id="avg-payment-value"></span></p>

      <!-- total payments by city -->
      <label for="city-select">Choose a city:</label>
      <select id="city-select">
        <option value="">Choose a city</option>
      </select>
      <button onclick="loadTotalPaymentsByCity()">
        Load Total Payments by City
      </button>
      <p>Total Payments by City: <span id="total-payments-by-city"></span></p>

      <!-- revenue by SellerId -->
      <label for="seller-id-input">Seller ID:</label>
      <input type="text" id="seller-id-input" />
      <button onclick="loadTotalRevenueBySeller()">
        Load Total Revenue by Seller
      </button>
      <p>Total Revenue by Seller: <span id="total-revenue-by-seller"></span></p>
    </div>
    <script src="/static/js/payments.js?v=2"></script>
  </body>
</html>
